MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/labelpro
GOOGLE_ID=your_google_client_id
GOOGLE_SECRET=your_google_client_secret
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
